.box {
	all: initial;
	padding-left: 20px;
	width: 500px;
	display: block;

	pre {
		white-space: pre-wrap;
		font-family: 'Fira Code';
		font-variant-ligatures: contextual;
		font-feature-settings: 'calt' 1;
	}
}
